@model NUS_Orbital.Models.ModulePost


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/NUS_Orbital.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 text-center">
                <h1>@Model.module.moduleCode</h1>
                <p>@Model.module.moduleName</p>
            </div>
            <div class="col text-justify">
                <p>@Model.module.description</p>
            </div>
        </div>
    </div>

    <div class="container pt-3">

        <h5>Reviews and Discussions</h5>

        <div class="row">
            <div class="col-1"> 
                <img class="rounded-circle w-100" src="~/images/StudentPhotos/@Model.student.photo" />
            </div>
            <form class="col" method="post" action="~/Module/Post">
                <input hidden value="@Model.module.moduleCode" name="moduleCode" />
                <h6>Let others how you feel about this module!</h6>
                <input class="w-100 form-control" placeholder="join the discussion..." name="description"/> <button>Post</button>
            </form>
        </div>
        

        <div class="mt-3">
            @foreach (var post in Model.posts)
            {
                <div class="row">
                    <div class="col-1">
                        <img class="rounded-circle w-100" src="~/images/StudentPhotos/@post.student.photo" />
                    </div>
                    <div class="col">
                        <h5 class="text-orange">@post.student.name</h5>
                        <p class="text-secondary">@post.student.course Student</p>
                        <p class="text-secondary">@post.postTime</p>
                        <p>@post.description</p>
                    </div>
                </div>

            }
        </div>
        
    </div>
</body>
</html>
