@model NUS_Orbital.Models.ModulePost


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/NUS_Orbital.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

     <script defer src="~/js/site.js"></script>
</head>




<body>
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-lg-3 col-md-4 text-center">
                <h1 class="text-green text-uppercase">@Model.module.moduleCode</h1>
                <p class="text-secondary">@Model.module.moduleName</p>
            </div>
            <div class="col text-justify">
                <p>@Model.module.description</p>
            </div>
        </div>
    </div>

    <div class="container mt-3 mb-3">
        <h5>Reviews and Discussions</h5>
        <button class="btn-pill btn-green" onclick="showCreatePost()" id="showCreatePostButton">+ Create a Post</button>
        <div class="row mt-3 hidden" id="createPost">
            <div class="col-fixed width-50"> 
                <img class="profile-picture wh-50" src="~/images/StudentPhotos/@Model.student.photo" />
            </div>
            <form class="col" method="post" action="~/Module/Post">
                
                <input hidden value="@Model.module.moduleCode" name="moduleCode" />
                <textarea class="w-100 form-control" placeholder="Title..." id="postTitleInput" required onkeyup="togglePostButton()" name="title"></textarea>
                <textarea class="w-100 form-control mt-2" placeholder="Body..." id="postInput" required onkeyup="togglePostButton()" name="description"></textarea>
                <button class="btn-green btn-pill mt-2" id="tagButton" type="button" onclick="showTags()">Add Tags</button>
                <div id="tags" class="hidden">
                    <div class="p-1 w-auto">
                        <input type="checkbox" id="tag1" name="tag1" value="Need Notes">
                        <label for="tag1">Need Notes</label>
                    </div>
                    <div class="p-1 w-auto">
                        <input type="checkbox" id="tag2" name="tag2" value="Looking for Group">
                        <label for="tag2">Looking for Group</label>
                    </div>
                    <div class="p-1 w-auto">
                        <input type="checkbox" id="tag3" name="tag3" value="Question About Module">
                        <label for="tag3">Question About Module</label>
                    </div>
                    <div class="p-1 w-auto">
                        <input type="checkbox" id="tag4" name="tag4" value="Review">
                        <label for="tag4">Review</label>
                    </div>
                    <div class="p-1 w-auto">
                        <input type="checkbox" id="tag5" name="tag5" value="Free Notes">
                        <label for="tag5">Free Notes</label>
                    </div>
                </div>

                <div class="justify-content-end align-items-end d-flex">
                    <button type="reset" class="btn-cancel btn-pill hidden" id="cancelButton" onclick="hidePostButton()">Cancel</button>
                    <button type="submit" class="btn-green btn-pill mt-2 hidden" id="postButton">Post</button>
                </div>
            </form>

        </div>

        <hr />

        <div class="container mt-3">
            <div class="row">
                <div class="col">
                @if (Model.posts.Count > 0) {
                    @foreach (var post in Model.posts)
                    {
                        <div class="row mt-3">
                            <div class="col-fixed width-50">
                                <img class="profile-picture wh-50" src="~/images/StudentPhotos/@post.student.photo" />
                            </div>
                            <div class="col">
                                <div class="d-flex justify-content-between">
                                    <div class="row">
                                        <a href="~/Student/ViewAccount?email=@post.student.email" method="get" class="col-auto"><strong class="text-green text-uppercase">@post.student.name</strong></a>
                                        <p class="col-auto text-secondary">@post.calculateDate(post.postTime)</p>
                                        @if (post.edited)
                                        {
                                            <p class="col-auto text-secondary">(edited)</p>
                                        }
                                        else
                                        {
                                            <p id="postEdited(@post.postId)" class="col-auto text-secondary hidden">(edited)</p>
                                        }
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        @if (Model.student.email == post.student.email && !post.deleted)
                                        {
                                            <div class="col-auto" id="editPost(@post.postId)"><button class="btn-green btn-pill-small" onclick="editPost(@post.postId)"><small>Edit</small></button></div>
                                            <div class="col-auto hidden" id="cancelEditPost(@post.postId)"><button class="btn-cancel btn-pill-small" onclick="cancelEdit(@post.postId, '@post.title', '@post.description')"><small>Cancel</small></button></div>
                                            <div class="col-auto hidden" id="deletePost(@post.postId)"><button class="btn-green bg-danger btn-pill-small" onclick="deletePost(@post.postId)"><small>Delete</small></button></div>
                                            <div class="col-auto hidden" id="saveChangesPost(@post.postId)"><button class="btn-green btn-pill-small" onclick="updatePost(@post.postId, '@post.title', '@post.description')"><small>Save Changes</small></button></div>
                                        }
                                    </div>
                                </div>
                                @if (post.deleted)
                                {
                                    <div id="deletePostContent(@post.postId)">
                                        <div class="row">
                                            <div class="col">
                                                <p class="text-danger italic">Post has been deleted...</p>
                                            </div>
                                        </div>
                                    </div>
                                } else
                                {
                                    <div id="deletePostContent(@post.postId)">
                                        <div class="row">
                                            <div class="col">
                                                <h5 id="postTitle(@post.postId)">@post.title</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col text-justify">
                                                <p id="postDescription(@post.postId)">@post.description</p>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="container-fluid">
                                    <div class="row">
                                        @foreach (var tag in post.tags)
                                        {
                                            <p class="tagDisplay h-auto w-auto">@tag.tag</p>
                                        }
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    @if (post.likedByCurrStud)
                                    {
                                        <button class="like-button bg-green rounded-circle wh-30 border-0" onclick="upvotePost(@post.postId)" id="postUpvote(@post.postId)"><i class="fa fa-thumbs-up"></i></button>
                                    }
                                    else
                                    {
                                        <button class="like-button bg-transparent rounded-circle wh-30 border-0" onclick="upvotePost(@post.postId)" id="postUpvote(@post.postId)"><i class="fa fa-thumbs-up"></i></button>
                                    }
                                    <div class="ml-1" id="countUpvote(@post.postId)">@post.upvotes</div>
                                    <button class="border-0 btn-cancel btn-pill ml-1 small" onclick="showCommentBox(@post.postId)">Reply</button>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 comment-box hidden" id="commentBox(@post.postId)">
                            <div class="col-fixed width-50"></div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-fixed width-50">
                                        <img class="profile-picture wh-50" src="~/images/StudentPhotos/@Model.student.photo" />
                                    </div>
                                    <form class="col" method="post" action="~/Module/Comment">
                                        <input hidden value="@Model.module.moduleCode" name="moduleCode" />
                                        <input hidden value="@post.postId" name="postId" />
                                        <textarea class="w-100 form-control" placeholder="Reply to post..." onkeyup="showCommentButton(@post.postId)" id="commentInput(@post.postId)" name="description"></textarea>
                                        <div class="justify-content-end align-items-end d-flex">
                                            <button type="reset" class="hidden btn-cancel btn-pill" onclick="hideCommentBox(@post.postId)" id="cancelCommentButton(@post.postId)">Cancel</button>
                                            <button type="submit" class="hidden btn-green btn-pill mt-2 ml-2" id="commentButton(@post.postId)">Comment</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        @if (post.comments.Count() > 0)
                        {
                            <div class="row">
                                <button class="btn-view-reply btn-pill text-dark-green mt-1 small" style="margin-left:50px;">View Replies</button>
                                <div class="container hidden mt-3">
                                    <div class="row">
                                        <div class="col-fixed width-50"></div>
                                        <div class="col">
                                            @foreach (var comment in post.comments)
                                            {
                                                <div class="row mt-1">
                                                    <div class="col-fixed width-50">
                                                        <img class="profile-picture wh-50" src="~/images/StudentPhotos/@comment.student.photo" />
                                                    </div>
                                                    <div class="col">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="row">
                                                                <a href="~/Student/ViewAccount?email=@comment.student.email" method="get" class="col-auto"><strong class="text-green text-uppercase">@comment.student.name</strong></a>
                                                                <p class="col-auto text-secondary ml-2">@comment.calculateDate(@comment.commentTime)</p>
                                                                @if (comment.edited)
                                                                {
                                                                    <p class="col-auto text-secondary">(edited)</p>
                                                                }
                                                                else
                                                                {
                                                                    <p id="commentEdited(@post.postId)" class="col-auto text-secondary hidden">(edited)</p>
                                                                }
                                                            </div>
                                                            <div class="d-flex justify-content-between">
                                                                @if (Model.student.email == comment.student.email && !comment.deleted)
                                                                {
                                                                    <div class="col-auto" id="editComment(@comment.commentId)"><button class="btn-green btn-pill-small" onclick="editComment(@comment.commentId)"><small>Edit</small></button></div>
                                                                    <div class="col-auto hidden" id="cancelEditComment(@comment.commentId)"><button class="btn-cancel btn-pill-small" onclick="cancelEditComment(@comment.commentId, '@comment.description')"><small>Cancel</small></button></div>
                                                                    <div class="col-auto hidden" id="deleteComment(@comment.commentId)"><button class="btn-green bg-danger btn-pill-small" onclick="deleteComment(@comment.commentId)"><small>Delete</small></button></div>
                                                                    <div class="col-auto hidden" id="saveChangesComment(@comment.commentId)"><button class="btn-green btn-pill-small" onclick="updateComment(@comment.commentId)"><small>Save Changes</small></button></div>
                                                                }
                                                            </div>
                                                        </div>
                                                        @if (comment.deleted)
                                                        {
                                                            <div id="deleteCommentContent(@comment.commentId)">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <p class="text-danger italic">Comment has been deleted...</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        } 
                                                        else
                                                        {
                                                            <div id="deleteCommentContent(@comment.commentId)">
                                                                <div class="row">
                                                                    <div class="col text-justify">
                                                                        <p id="commentDescription(@comment.commentId)">@comment.description</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                            
                                                        <div class="d-flex align-items-center">
                                                            @if (@comment.likedByCurrStud)
                                                            {
                                                                <button class="like-button bg-green rounded-circle wh-30 border-0" onclick="upvoteComment(@comment.commentId)" id="commentUpvote(@comment.commentId)"><i class="fa fa-thumbs-up"></i></button>
                                                            }
                                                            else
                                                            {
                                                                <button class="like-button bg-transparent rounded-circle wh-30 border-0" onclick="upvoteComment(@comment.commentId)" id="commentUpvote(@comment.commentId)"><i class="fa fa-thumbs-up"></i></button>
                                                            }
                                                            <div class="ml-1" id="commentCountUpvote(@comment.commentId)">@comment.upvotes</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                } else
                {
                    <div>No posts for this module...</div>
                }
                </div>
                <form action="~/Module/View" class="col-auto">
                    <div class="row mb-2">
                        <button class="btn-green btn-pill">Filter by Tag</button>
                    </div>
                    <input hidden value="@Model.module.moduleCode" name="moduleCode" />
                    @foreach (var tag in Model.tags)
                    {
                        <div class="row">
                            <input type="checkbox" id="filterTag_@tag.tag" name="filterTag" value=@tag.tagId @(tag.filtered ? "checked" : "")>
                            <label for="filterTag_@tag.tag" class="ml-2">@tag.tag</label>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>

</body>
</html>