@model NUS_Orbital.Models.ModulePost


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/NUS_Orbital.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>




<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-3 col-md-4 text-center">
                <h1 class="text-green text-uppercase">@Model.module.moduleCode</h1>
                <p class="text-secondary">@Model.module.moduleName</p>
            </div>
            <div class="col text-justify">
                <p>@Model.module.description</p>
            </div>
        </div>
    </div>

    <div class="container pt-3">
        <h5>Reviews and Discussions</h5>
        <div class="row">
            <div class="col-fixed width-50"> 
                <img class="profile-picture wh-50" src="~/images/StudentPhotos/@Model.student.photo" />
            </div>
            <form class="col" method="post" action="~/Module/Post">
                <input hidden value="@Model.module.moduleCode" name="moduleCode" />
                <textarea class="w-100 form-control" placeholder="join the discussion..." id="postInput" onkeyup="togglePostButton()" name="description"/></textarea>

                <div class="justify-content-end align-items-end d-flex">
                    <button type="reset" class="btn-cancel btn-pill hidden" id="cancelButton" onclick="hidePostButton()">Cancel</button>
                    <button type="submit" class="btn-green btn-pill mt-2 hidden" id="postButton">Post</button>
                </div>
            </form>

        </div>

        <div class="mt-3">
            @foreach (var post in Model.posts)
            {
                <div class="row mt-3">
                    <div class="col-fixed width-50">
                        <img class="profile-picture wh-50" src="~/images/StudentPhotos/@post.student.photo" />
                    </div>
                    <div class="col">
                        
                        <div class="row">
                            <p class="col-auto text-green text-uppercase"><strong>@post.student.name</strong></p>
                            <p class="col-auto text-secondary">posted @post.calculateDate(post.postTime)</p>
                        </div>
                        <div class="row">
                            <p class="col-auto">@post.description</p>
                        </div>
                        
                        <div class="d-flex align-items-center">
                            @if (post.likedByCurrStud)
                            {
                                <button class="like-button bg-green rounded-circle wh-30 border-0" onclick="upvotePost(@post.postId)" id="postUpvote(@post.postId)"><i class="fa fa-thumbs-up"></i></button>
                            }
                            else
                            {
                                <button class="like-button bg-transparent rounded-circle wh-30 border-0" onclick="upvotePost(@post.postId)" id="postUpvote(@post.postId)"><i class="fa fa-thumbs-up"></i></button>
                            }
                            <div class="ml-1" id="countUpvote(@post.postId)">@post.upvotes</div>
                            <button class="border-0 btn-cancel btn-pill ml-1 small" onclick="showCommentBox(@post.postId)">Reply</button>
                        </div>

                        
                    </div>
                </div>
                <div class="row mt-3 comment-box hidden" id="commentBox(@post.postId)">
                    <div class="col-fixed width-50"></div>
                    <div class="col">
                        <div class="row">
                            <div class="col-fixed width-50">
                                <img class="profile-picture wh-50" src="~/images/StudentPhotos/@Model.student.photo" />
                            </div>
                            <form class="col" method="post" action="~/Module/Comment">
                                <input hidden value="@Model.module.moduleCode" name="moduleCode" />
                                <input hidden value="@post.postId" name="postId" />
                                <textarea class="w-100 form-control" placeholder="Reply to post..." onkeyup="showCommentButton(@post.postId)" id="commentInput(@post.postId)" name="description"></textarea>
                                <div class="justify-content-end align-items-end d-flex">
                                    <button type="reset" class="hidden btn-cancel btn-pill" onclick="hideCommentBox(@post.postId)" id="cancelCommentButton(@post.postId)">Cancel</button>
                                    <button type="submit" class="hidden btn-green btn-pill mt-2 ml-2" id="commentButton(@post.postId)">Comment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                @foreach(var tag in post.tags)
                {
                    <div class="bg-danger">
                        @tag.tag
                    </div>
                }

                @if (post.comments.Count() > 0)
                {
                    <div class="row">
                        <button class="btn-view-reply btn-pill text-dark-green mt-1 small" style="margin-left:50px;">View Replies</button>
                        <div class="container hidden mt-3">
                            <div class="row">
                                <div class="col-fixed width-50"></div>
                                <div class="col">
                                    @foreach (var comment in post.comments)
                                    {
                                        <div class="row mt-1">
                                            <div class="col-fixed width-50">
                                                <img class="profile-picture wh-50" src="~/images/StudentPhotos/@comment.student.photo" />
                                            </div>
                                            <div class="col">
                                                <div class="row">
                                                    <p class="col-auto text-green text-uppercase"><strong>@comment.student.name</strong></p>
                                                    <p class="col-auto text-secondary ml-2">@comment.calculateDate(@comment.commentTime)</p>
                                                </div>
                                                <div class="row">
                                                    <p class="col-auto">@comment.description</p>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    @if (@comment.likedByCurrStud)
                                                    {
                                                        <button class="like-button bg-green rounded-circle wh-30 border-0" onclick="upvoteComment(@comment.commentId)" id="commentUpvote(@comment.commentId)"><i class="fa fa-thumbs-up"></i></button>
                                                    }
                                                    else
                                                    {
                                                        <button class="like-button bg-transparent rounded-circle wh-30 border-0" onclick="upvoteComment(@comment.commentId)" id="commentUpvote(@comment.commentId)"><i class="fa fa-thumbs-up"></i></button>
                                                    }
                                                    <div class="ml-1" id="commentCountUpvote(@comment.commentId)">@comment.upvotes</div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    
    <script>
        document.querySelectorAll('.btn-view-reply').forEach(button => {
            button.addEventListener('click', function () {
                const nextRow = this.nextElementSibling;
                nextRow.classList.toggle('hidden');
                if (nextRow.classList.contains('hidden')) {
                    this.textContent = 'View Replies';
                } else {
                    this.textContent = 'Hide Replies';
                }
            });
        });

        function togglePostButton() {
            var postInput = document.getElementById("postInput");
            var postButton = document.getElementById("postButton");
            var cancelButton = document.getElementById("cancelButton");
            if (postInput.value != "") {
                if (postButton.classList.contains('hidden')) {
                    postButton.classList.toggle('hidden');
                    cancelButton.classList.toggle('hidden');
                }
            } else {
                if (!postButton.classList.contains('hidden')) {
                    postButton.classList.toggle('hidden');
                    cancelButton.classList.toggle('hidden');
                }
            }
        }
        //document.getElementById("postInput").addEventListener("input", toggleCommentButton);

        function showCommentButton(postId) {
            var commentInput = document.getElementById("commentInput(" + postId + ")");
            var cancelCommentButton = document.getElementById("cancelCommentButton(" + postId + ")");
            var commentButton = document.getElementById("commentButton(" + postId + ")");

            if (commentInput.value != "") {
                if (cancelCommentButton.classList.contains('hidden')) {
                    cancelCommentButton.classList.toggle('hidden');
                    commentButton.classList.toggle('hidden');
                }
            } else {
                if (!cancelCommentButton.classList.contains('hidden')) {
                    cancelCommentButton.classList.toggle('hidden');
                    commentButton.classList.toggle('hidden');
                }
            }
        }

        function hidePostButton() {
            var postButton = document.getElementById("postButton");
            var cancelButton = document.getElementById("cancelButton");
            postButton.classList.toggle('hidden');
            cancelButton.classList.toggle('hidden');
        }

        function showCommentBox(postId) {
            var commentBox = document.getElementById("commentBox(" + postId + ")");
            if (commentBox.classList.contains('hidden')) {
                commentBox.classList.toggle('hidden');
            }
        }

        function hideCommentBox(postId) {
            var commentBox = document.getElementById("commentBox(" + postId + ")");
            var cancelCommentButton = document.getElementById("cancelCommentButton(" + postId + ")");
            var commentButton = document.getElementById("commentButton(" + postId + ")");
            if (!commentBox.classList.contains('hidden')) {
                commentBox.classList.toggle('hidden');
                cancelCommentButton.classList.toggle('hidden');
                commentButton.classList.toggle('hidden');
            }
        }

        function upvotePost(postId) {
            var postUpvote = document.getElementById("postUpvote(" + postId + ")");
            var countUpvote = document.getElementById("countUpvote(" + postId + ")");

            if (!postUpvote.classList.contains('bg-green')) {
                countUpvote.innerText = Number(countUpvote.innerText) + 1;
                postUpvote.classList.toggle('bg-green');
                postUpvote.classList.toggle('bg-transparent');

            } else {
                countUpvote.innerText = Number(countUpvote.innerText) - 1;
                postUpvote.classList.toggle('bg-green');
                postUpvote.classList.toggle('bg-transparent');
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpvotePost", "Module")',
                dataType: 'json',
                data: { 
                    postId: postId 
                },
                success: function (response) {
                },
                error: function (xhr, status, error) {
                }
            });
        }

        function upvoteComment(commentId) {
            var commentUpvote = document.getElementById("commentUpvote(" + commentId + ")");
            var commentCountUpvote = document.getElementById("commentCountUpvote(" + commentId + ")");

            if (!commentUpvote.classList.contains('bg-green')) {
                commentCountUpvote.innerText = Number(commentCountUpvote.innerText) + 1;
                commentUpvote.classList.toggle('bg-green');
                commentUpvote.classList.toggle('bg-transparent');

            } else {
                commentCountUpvote.innerText = Number(commentCountUpvote.innerText) - 1;
                commentUpvote.classList.toggle('bg-green');
                commentUpvote.classList.toggle('bg-transparent');
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpvoteComment", "Module")',
                dataType: 'json',
                data: {
                    commentId: commentId
                },
                success: function (response) {
                },
                error: function (xhr, status, error) {
                }
            });
        }
        

    </script>

</body>
</html>